@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* For Webkit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
}

.my-text-color{
    color: #555555;
}